@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        font-family: 'Maven Pro', sans-serif;
    }
}

/*Global styles*/
body{
    overflow-y: hidden;
}
.stroke-1 path{
    stroke-width: 1;
}
.my-shadow{
    box-shadow: 3px 0px 5px #f5f5f5;
}
